.card {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}

.section {
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    padding: var(--mantine-spacing-md);
}

.loaderText {
    & + & {
        padding-top: var(--mantine-spacing-sm);
        margin-top: var(--mantine-spacing-sm);
        border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    }
}

.subParameters {
    background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    padding: 6px 12px;
    border-radius: var(--mantine-radius-md);
}