.product {
  height: 100%;
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-lg);
  border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));

  flex-direction: row;
  align-items: center;

  gap: var(--mantine-spacing-lg);

  @mixin smaller-than $mantine-breakpoint-xs {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: var(--mantine-spacing-lg);
    padding: var(--mantine-spacing-lg);
    border-radius: var(--mantine-radius-lg);
  }
}

.content {
  flex: 1;
  min-width: 0;
}

.title {
  font-size: var(--mantine-h3-font-size);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.025em;
}

.description {
  font-size: var(--mantine-font-size-sm);
  line-height: 1.85;
}

.button {
  min-height: 44px;
}
