.worldsEndText {
    background: conic-gradient(
        from 240deg,
        rgb(2, 224, 1),
        rgb(213, 226, 17),
        rgb(226, 121, 87),
        rgb(212, 1, 150),
        rgb(141, 12, 202),
        rgb(77,120,107),
        rgb(2, 224, 1)
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}