.link {
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
    font-size: var(--mantine-font-size-sm);

    &:hover {
        text-decoration: underline;
    }
}

.footer {
    border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

.footerInner {
    max-width: calc(896px + var(--mantine-spacing-xl) * 2);
    margin: 0 auto;
    padding: var(--mantine-spacing-xl);

    @mixin smaller-than $mantine-breakpoint-xs {
        flex-direction: column;
    }
}