.header {
    position: fixed;
    z-index: var(--mantine-z-index-modal);
    top: 0;
    width: 100%;
    padding: 0 var(--mantine-spacing-md);
    background-color: var(--mantine-color-body);
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

.navbarToggle {
    @mixin larger-than $mantine-breakpoint-md {
        display: none;
    }
}