.tabs {
    position: relative;

    @mixin larger-than $mantine-breakpoint-xs {
        display: none !important;
    }
}

.tab {
    font-size: var(--mantine-font-size-sm) !important;
    line-height: 32px;
    text-align: center !important;
    text-wrap: nowrap;

    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));

    &:hover {
        background: var(--mantine-color-default-hover);
    }

    &[data-active='true'] {
        color: var(--mantine-primary-color-light-color);
    }
}

.indicator {
    height: 33px !important;
    pointer-events: none;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid var(--mantine-primary-color-light-color);
}