.root {
    position: relative;
    padding-top: 40px;
    padding-bottom: 100px;

    @mixin smaller-than $mantine-breakpoint-xs {
        padding-top: 16px;
    }
}

.section {
    @mixin smaller-than $mantine-breakpoint-xs {
        padding: 0;
    }
}

.logoWrapper {
    position: relative;
    overflow: hidden;

    @mixin smaller-than $mantine-breakpoint-xs {
        max-width: calc(100% + 32px);
        margin-left: -16px;
        margin-right: -16px;
    }
}

.logo {
    opacity: 0 !important;

    @mixin smaller-than $mantine-breakpoint-xs {
        position: relative;
        width: calc(100% + 48px);
        left: -24px;
    }
}

.logoParallax {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
    width: 100%;

    @mixin smaller-than $mantine-breakpoint-xs {
        width: calc(100% + 48px);
    }
}

.background {
    opacity: light-dark(1, 0.5);
    width: 100%;
    height: 100%;
    background-image: url('/logo_background.webp');
    background-size: cover;
}

.foreground {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('/logo_foreground.webp');
    background-size: cover;

    /* 使用mask让后续内容只显示在图片轮廓 */
    mask-image: url('/logo_foreground.webp');
    mask-size: cover;
    -webkit-mask-image: url('/logo_foreground.webp');
    -webkit-mask-size: cover;

    &:after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: light-dark(rgba(0, 0, 0, 0), alpha(var(--mantine-color-dark-4), 0.2));
        pointer-events: none;
    }
}

.title {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -1px;
    margin-bottom: var(--mantine-spacing-xs);

    @mixin smaller-than $mantine-breakpoint-xs {
        font-size: 28px;
        text-align: left;
    }
}

.description {
    text-align: center;

    @mixin smaller-than $mantine-breakpoint-xs {
        text-align: left;
        font-size: var(--mantine-font-size-md);
    }
}

.highlight {
    display: inline-block;
    position: relative;
    line-height: 1;
    padding: 0 8px;
    color: light-dark(var(--mantine-primary-color-6), var(--mantine-primary-color-4));
}

.highlight::before {
    position: absolute;
    content: '';
    height: calc(100% + 12px);
    width: 100%;
    left: 0;
    top: -6px;
    background-color: var(--mantine-primary-color-light);
    border-radius: var(--mantine-radius-sm);
}

.controls {
    margin-top: var(--mantine-spacing-lg);
    display: flex;
    justify-content: center;

    @mixin smaller-than $mantine-breakpoint-xs {
        flex-direction: column;
    }
}

.control {
    &:not(:first-of-type) {
        margin-left: var(--mantine-spacing-md);

        @mixin smaller-than $mantine-breakpoint-xs {
            margin-left: 0;
            margin-top: var(--mantine-spacing-md);
        }
    }

    @mixin smaller-than $mantine-breakpoint-xs {
        height: 42px;
        font-size: var(--mantine-font-size-md);
    }
}

.featureTitle {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}