.root {
    padding-top: 80px;
    padding-bottom: 80px;
}

.title {
    text-align: center;
    font-weight: 800;
    font-size: 40px;

    @mixin smaller-than $mantine-breakpoint-sm {
        font-size: 28px;
        text-align: left;
    }
}

.description {
    text-align: center;
    max-width: 540px;
    margin: var(--mantine-spacing-xl) auto calc(var(--mantine-spacing-xl) * 1.5);

    @mixin smaller-than $mantine-breakpoint-sm {
        text-align: left;
        font-size: var(--mantine-font-size-md);
    }
}