.actionIcon {
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1)) !important;

    &:hover {
        color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1)) !important;
        background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5)) !important;
    }
}

.textarea {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}