.subParameters {
    background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    padding: 6px 12px;
    border-radius: var(--mantine-radius-md);
}

.statCount {
    line-height: 1.3;
}

.diff {
    display: flex;
    align-items: center;
}

.icon {
    color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
}

.ratingNumberTotal {
    font-size: var(--mantine-h2-font-size);
    font-weight: 700;
    line-height: var(--mantine-h2-line-height);
}

.ratingNumberSubtotal {
    color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
    font-size: var(--mantine-h4-font-size);
    font-weight: 700;
    line-height: var(--mantine-h4-line-height);
}