.active {
    transition: transform 50ms ease-in-out;

    &:active {
        transform: perspective(100px) translate3d(0, 0, -5px);
    }
}

.routesWrapper {
    position: relative;
    height: calc(100vh - var(--header-height));
    box-sizing: border-box;
    margin-top: var(--header-height);
}