.active {
    transition: transform 50ms ease-in-out;

    &:active {
        transform: perspective(100px) translate3d(0, 0, -5px);
    }
}

.routesWrapper {
    position: relative;
    height: calc(100vh - var(--header-height));
    box-sizing: border-box;
    margin-top: var(--header-height);

    @supports (max-height: 100dvh) {
        height: calc(100dvh - var(--header-height));
    }
}

.photoViewerIcon {
    color: white;
    opacity: 0.75;
    transition: opacity 0.2s ease-in-out;
}

.photoViewerIcon:hover {
    opacity: 1;
}