.container {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  &.fullscreen {
    max-width: 100vmin;
    width: 100vmin;
    height: 100vmin;
    margin: 0;
  }
}

.canvas {
  width: 100%;
  height: 100%;
  border-radius: var(--mantine-radius-lg);
  background-color: #000000;
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  &.fullscreen {
    border: none;
    border-radius: 0;
  }
}
